<!DOCTYPE html>
<html>
<head>
    <link href="/CodeIgniter/application/style/style.css" rel="stylesheet" type="text/css">
    <meta name=""viewport" content="width=device-width,initial-scale=1.0">
<script>
/*
function checkExistence(str) {
        if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        } else {
            // code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("user").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("GET","/hw3/checkUser.php?q=str",true);
        xmlhttp.send();
}*/
function checkField(x){




}
</script>
<style>
#reg{
	position:relative;
	left:5.1in;
	top:1in;
	padding:10px;
	border:2px solid;
	width:5.1in;
}

</style>
</head>
<body>
<div id="errmsg"> </div>
