<form name="myform" action="/CodeIgniter/index.php/Customersign_control/index" method="POST" id="reg" onsubmit="return checkField(this)">
<fieldset>
<legend>Customer Information</legend>

First Name:<br>
<input type="text" name="firstName" required ><br>
Last Name:<br>
<input type="text" name="lastName" required><br>
Email:<br>
<input type="email" name="email" required><br>
Phone:<br>
<input type=number name="phone" required><br>
Billing Address:<br>
Street Number:
<input type="number" name="bstreetNumber" style="width:50px;"size="50" required>
Steet Name:<input type="text" name="bstreetName" style="width:150px;" size="50" required><br>
APT:<input type="number" name="bapt" size="50" style="width:40px;" min="0"><br>
City:<input type="text" name="bcity" style="width:100px;" required>
STATE:<input type="text" name="bState" style="width:40px;" class="isstate" required>
ZIPCODE:<input type="text" name="bzip" style="width:60px;" size="50" required><br>
Shipping Address:<br>
Street Number:
<input type="number" name="streetNumber" style="width:50px;"size="50" required>
Steet Name:<input type="text" name="streetName" style="width:150px;" size="50" required><br>
APT:<input type="number" name="apt" size="50" style="width:40px;" min="0"><br>
City:<input type="text" name="city" style="width:100px;" class="isstate" required>
STATE:<input type="text" name="State" style="width:40px;" class="isstate" required>
ZIPCODE:<input type="text" name="zip" style="width:60px;" size="50" required><br>
Credit Card Number:<br>
<input type="number" name="cardnumber" style="width:120px;" required><br>
Secutiry Number:<br>
<input type="number" maxlength="4" size="4" name="security" style="width:40px;" required><br>
Expiration Date:<br>
Month:<input type="number" name="month" size="2" maxlength="2" style="width:30px;" min="1" max="12" required> 
Year:<input type="number" name="year" maxlength="4" style="width:60px;"  min="2015" required><br>
Username: <br>
<input type="text" name="username"  onChange="checkExistence(this.value)" required><div id="user" style="color:red;"></div><br>
Password:<br>
<input type="text" name="password" required><br>
<input type="hidden" name="submit_type" value="submit">
<input type="submit" name="submit" value="submit">
</fieldset>
</form>


</body>
</html>
