<form id="logout" action="/CodeIgniter/index.php/Customer_login/index" method="POST">
    <input type="submit"  id="logout" name="logout" value="logout">
</form>
<form id="home" action="/CodeIgniter/index.php/Saleweb/index" method="POST">
    <input type="submit"   name="home" value="home">
</form>
<form id="orderInfo" action="/CodeIgniter/index.php/View_order_control" method="POST">
<input type="submit" name="view_order" value="view_order">
</form>
<form id="profile" action="/CodeIgniter/index.php/Change_customer_control" method="POST">
<input type="button" name="profile"  id="profile_info" value="profile" onClick="CustomerInfor()">
<input type="hidden" name="change" value="change">
<input type="submit" id="change" value="change"  style="display:none;">
</form>
<form id="view_cart" action="/CodeIgniter/index.php/View_cart_control" method="POST">
    <input type="hidden" name="view_cart" value="view_cart">
<input type="submit"  value="view_cart">
</form>

